ADMIN_EMAIL=admin@example.com
# openssl rand -base64 32
SESSION_SECRET=generate-with-openssl-rand-hex-32

# Email (SMTP)
EMAIL_FROM="Your Company <no-reply@example.com>"
EMAIL_SMTP_HOST=smtp.example.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=no-reply@example.com
EMAIL_SMTP_PASSWORD=
EMAIL_SMTP_SECURE=true
